*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
body{
  height: 100vh;  
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #dadada;
}

.image-modal{
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: rgba(95, 91, 91, 1);  
  display: none;
}  

.image img:hover {
  transform: scale(1.2);
}

.image-gallery{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 28px;
  row-gap: 28px;
}

.image-gallery .image  {
  width: 260px;
  height: 200px;
  border-radius: 4px;
  cursor: pointer;
  overflow: hidden;
}
.image-gallery .image img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transition: 0.4s;

}

.gallery{
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0;  
  pointer-events: none;
  transform: scale(0.6);
  transition: 0.5s;
}
.gallery.show{
  opacity: 1;
  pointer-events: auto;
  transform: scale(1);
}

.gallery__close{
  position: absolute;
  top: 20px;
  right: 20px;
  color: white;
  font-size: 40px;
}
.gallery__img{
  width: 1200px;
  height: 800px;
}
.gallery__img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.gallery__control.left, .gallery__control.right{
  position: absolute;
  color: white;
  font-size: 40px;
}
.gallery__control.left{
  left: 12px;
}
.gallery__control.right{
  right: 12px;
}

.hide{
  display: none; 
}